@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;500&display=swap');


.html_mods{
    text-align: center;
}
.hrstyle{
    border-top: 2px solid lightseagreen;
}
.Paragrafo{
    font-family: 'Noto Sans', sans-serif;
}

.h1style{
    color: black;
    width: -100px;
    left: -100px;
    


}
.bodyindex{
    background: lightslategray;
    max-width: 800px;
    margin: auto;
    border: 10px solid red;
    
}

.lista_competenze{
    margin: 0px;
    padding: 0px;
    list-style-type: disc;
    list-style-position: inside;
    width: 100%;
}

.headerindex{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  

.detailsstyle{
    width: 200px;
    display: inline;
}

.summarystyle{
    padding: 2px 2px;
    width: auto;
    background-color: lightseagreen;
    border: none;
    box-shadow: 3px 2px 3px black;
    cursor: pointer;
}

.div_class1{
    border: 1px solid red;

}
.div_class2{
    border: 1px solid blue;
    max-width: 30%;
}

.div_class3{
    border: 1px solid blue;
    max-width: 30%;
    
}

.div_class4{
    border: 1px solid blue;
    max-width: 30;

}