@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;500&display=swap');


.html_mods{
    text-align: center;
}
.hrstyle{
    border-top: 2px solid #98ce00;
}
.Paragrafo{
    font-family: 'Noto Sans', sans-serif;
}

.h1style{
    color: #001011;
    width: -100px;
    left: -100px;
    overflow: hidden;

}

.bodystyle{
    display: grid;
    border: 2px solid #6CCFF6;
    background-color: #757780;

}
.divemain{
  display: grid;
  row-gap: auto;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 1px;
  }

.lista_competenze{
    margin: 0px;
    padding: 0px;
    list-style-type: disc;
    list-style-position: inside;
    width: 100%;
}

.headerindex{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  

.detailsstyle{
    width: 200px;
    display: inline;
}

.summarystyle{
    padding: 2px 2px;
    width: auto;
    background-color: #6CCFF6;
    border: none;
    box-shadow: 3px 2px 3px #001011;
    cursor: pointer;
}

.div1{
    background-color: transparent;
    text-align: center;
    padding: 2px 0;
    font-size: auto;
    overflow: hidden;


}

.div2{
    background-color: transparent;
    text-align: center;
    padding: 2px 0;
    font-size: auto;
    overflow: hidden;


}

.div3{
    background-color: transparent;
    text-align: center;
    padding: 2px 0;
    font-size: auto;
    overflow: hidden;


}

@media only screen and (max-width: 700px){
    .divemain{
        width: auto;
        height: auto;
        grid-template-columns:auto;

   
    }

}